## Data Science Workflow

0. Plan
1. **Acquire**
2. Prepare Data (Data Wrangling)
3. Explore
4. Model
5. Delivery/Present

## Acquire Step
In this stage, we're going to get our hands on the data set.

In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd

In [4]:
df = pd.read_csv("lemonade.csv") # read the CSV file into a pandas dataframe
# Take a peak at the first few rows of the raw data
df.head(3)

     Date      Day  Temperature  Rainfall  Flyers  Price  Sales
0  1/1/17   Sunday         27.0      2.00      15    0.3     10
1  1/2/17   Monday         28.9      1.33      15    0.3     13
2  1/3/17  Tuesday         34.5      1.33      27    0.3     15

In [6]:
# Descriptive statistics of the dataframe
df.describe()

       Temperature    Rainfall      Flyers       Price       Sales
count   365.000000  365.000000  365.000000  365.000000  365.000000
mean     60.731233    0.826603   40.284932    0.333973   25.323288
std      16.196266    0.273171   13.178651    0.075206    6.893589
min      15.100000    0.470000    9.000000    0.300000    7.000000
25%      49.700000    0.650000   31.000000    0.300000   20.000000
50%      61.100000    0.740000   39.000000    0.300000   25.000000
75%      71.300000    0.910000   49.000000    0.300000   30.000000
max     102.900000    2.500000   80.000000    0.500000   43.000000

In [12]:
# What do we know about the columns already
df.info()

(365, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
Date           365 non-null object
Day            365 non-null object
Temperature    365 non-null float64
Rainfall       365 non-null float64
Flyers         365 non-null int64
Price          365 non-null float64
Sales          365 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 20.0+ KB

In [11]:
# Ensure that there are no null values
print(df.isnull().sum())

Date           0
Day            0
Temperature    0
Rainfall       0
Flyers         0
Price          0
Sales          0
dtype: int64

## What next?